<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Consultations</span>
    </ion-nav-title>
    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person">
        </button>
    </ion-nav-buttons>-->
    <ion-content>
		<div class="row tabnav">
			<div class="col"><a nav-clear menu-close ui-sref="app.consultations-list">Book</a></div>
		<div class="col"><a nav-clear menu-close ui-sref="app.consultations-current" class="active" >Active</a></div>
		<div class="col"><a nav-clear menu-close ui-sref="app.consultations-past">Past</a></div>
		 </div>
		 
		 
		 <div class=""  ng-if="userLogged = 1">             
			<div class="page-data">
					<div class="row tabnav">
						<div class="col"><a ui-sref="#" class="active">Video : {{video_app.length}}</a></div>
					</div>
					<div class="mt15">
					<p class="txt-center">  {{video_app.length==0 ? 'Nothing to see here. Book a consult to get going.':''}}</p>
					<div class="posts-list" ng-repeat="vApp in video_app track by $index">
					<div  class="list card post-item" ng-repeat="prod in video_products[$index]">
					<div class="post-content item item-text-wrap p0">
					<a  ui-sref="app.current-tab({'id': vApp.appointment_id,'mode': 1})" class="card-content paraspacing" ng-repeat="doc in video_doctorsData[$index]">
					<p><strong>{{doc.fname}} {{doc.lname}}</strong><br/>
					<span ng-repeat="spec in doc.specializations">
					{{spec.specialization}} , 
					</span>
					</p>
					<p><strong>Appointment Time : {{vApp.appointments.scheduled_start_time|dateFormat3}}</strong><br/> 
					<span>{{vApp.appointments.scheduled_start_time|time}} To {{vApp.appointments.scheduled_end_time|time}}
					</span>
					</p>
					<div class="clr"></div>
					</a>
					<div class="post-actions  post-footer p0">
					<div class="row cardbtn-small p0">


					<div class="col"><a ng-controller="RescheduleCtrl" confirmed-click="cancelApp(vApp.appointment_id,prod.user_id,1, vApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{vApp.appointment_id}}" class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
					<div class="col"><a ng-controller="RescheduleCtrl" confirmed-click="rescheduleApp(vApp.appointment_id, prod.user_id, 1, vApp.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?" class="cbtn reschedule"><i class="ion-calendar"></i>  Reschedule</a></div>
					<div ng-if="vApp.appointments.mode==1" class="col"><a  class="cbtn join" ng-click="joinVideo(vApp.appointments.mode,video_time[$parent.$index],video_end_time[$parent.$index],vApp.appointments.id)"><i class="ion-ios-videocam"></i> Join</a></div>

					</div>
					</div>
					
					</div>
					</div>
					</div>
					</div>
            </div>                       
								   
								   
							
    </ion-content>
</ion-view>

