<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Records</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-search " ng-click="showFilterBar()">
        </button> 
    </ion-nav-buttons>


    <div class="bar bar-subheader cbar divider-2">
        <div class="row">
            <div class="col-50"><a  ui-sref="#"><h4 class="subhead"><i class="icon ion-funnel"></i> Filter</h4></a></div>
            <div class="col-50"><h4 class="subhead">Sort <i class="icon ion-ios-arrow-thin-down"></i></h4> </div>
        </div>
    </div>

    <ion-content>
        <ion-content direction="y" scrollbar-y="false">
            <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
            </ion-refresher>
            <div ng-if="items !== undefined && !items.length" class="no-results">
                <p>No Results</p>
                <div class="fltr-mesg"> &nbsp;</div>
            </div>
            <ion-list>
                <ion-item collection-repeat="item in items" >
                    <p>{{item.text}}</p> 
                </ion-item>
            </ion-list>
        </ion-content>


        <!-- for select list long pressing  - on-hold='selectMe($event)' | orderBy:'-count' -->

        <div class="list cdetail-list">
           <div class="mt15" ng-if="userRecords.length == 0"> <p class="txt-center" >No records here. Add now to get started.</p></div>
            <div class="crecordlist" ng-repeat="cat in userRecords| orderBy: 'category'">
                <div class="clistck">
                    <ion-checkbox ng-model="isChecked" ng-value="{{cat.id}}" ng-checked="getIds(isChecked)">Checkbox Label</ion-checkbox></div>
                <a  class="item item-icon-left item-icon-right "  ui-sref="app.records-view({'id' : cat.id,'res' : 'json'})">
                    <span class="title">{{cat.category}}</span>	
                    <span class="count">{{cat.count}}</span>	
                </a>

            </div>
        </div>  
 <!-- 	<div class="list cdetail-list">
                <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        
                <ion-item ng-repeat="cat in userRecords | orderBy:'-count'" 
                          item="item" ui-sref="app.records-view({'id' : cat.id,'res' : 'json'})"  class="item-remove-animate">
                  {{cat.category}}
                  <ion-delete-button  ng-click="onItemDelete(item)">
                                                                 <input type="checkbox" class="listck" />
                  </ion-delete-button>
                  
                </ion-item>
        
              </ion-list>
                
                </div> -->
    </ion-content>

<script id="addrecord.html" type="text/ng-template">
		<div class="modal">
        <header class="bar bar-header bar-positive">
		<h1 class="title">Select Category </h1>
          
        </header>
<content has-header="true" padding="true" class="fullwh" style="position: absolute; height: 100%;
    width: 100%;
overflow: auto;">
		<div class="mcontent">
        <div class="list" >
			<div class="item" ng-repeat="cat in cats"  ng-click="addRecord({{cat.id}})"  >{{cat.category}}</div>
		</div>
		</div>
		
		
		</content>
		</div>
<div class="bar bar-footer p0" style="z-index:999;">
<div class="button bar btn-delete brdradious0" style="width:100%;" ng-click="modal.hide()">
			<!-- <span class="icon ion-close"></span> --> Cancel</div>
			
			</div>

</script>
	
	
	
	
	
	
	
	
	
    <div class="footerbar">
        <a class="button btn-delete" ui-sref="#" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"><i class="icon ion-trash-b"></i> Delete</a>
        <a class="button btn-share" ui-sref="#"><i class="icon ion-android-share-alt" ></i> Share</a>
		
        <!-- <a class="button" ng-controller="AdsCtrl" ng-click="manageAdMob()" ><i class="icon ion-android-add-circle"></i> Add</a> -->
		
		 <a class="button btn-add" ng-controller="AdsCtrl" ng-click="modal.show()" ><i class="icon ion-android-add-circle"></i> Add</a>
		 
		
		
    </div>

</ion-view>

