<ion-view cache-view="false" class="category-list-view" >
	  <button class="button button-clear button-positive">Edit</button>
  <ion-nav-title>
    <span>Home</span>
</ion-nav-title>


  
  <ion-content>
  <div class="list catlist">

		  <a class="item item-icon-right" ui-sref="app.consultations-list" >
			 <i class="cicon ion-medkit"></i>
			<span class="ctitle">Consultations</span>	
			<!-- <p>Lorem Ipsum is simply dummy text of the printing</p> -->
		  </a>

		  <a class="item item-icon-right" ui-sref="app.category-detail" >
			 <i class="cicon ion-folder"></i>
			<span class="ctitle">Records</span>	
			
		</a>  

		<!--  <a class="item item-icon-right greyitem" ui-sref="#" >
			 <i class="cicon ion-folder"></i>
			 <span class="ctitle">Records</span>	
			 <div class="comingsoon">Coming Soon</div> 
		</a> -->
		
		
		<a class="item item-icon-right greyitem" ui-sref="#" >
			 <i class="cicon ion-cube"></i>
			<span class="ctitle">Library</span>	
			<div class="comingsoon">Coming Soon</div>
		</a>
		
		
	
		
		
		
		
		
		<!-- <a class="item item-icon-right greyitem" ui-sref="#" >
			 <i class="cicon ion-chatboxes"></i>
			<span class="ctitle">Chats</span>	
			<div class="comingsoon">Coming Soon</div>
		</a> -->
		  
		  
		<!--   <a class="item item-icon-right" ui-sref="#">
			 <i class="cicon ion-medkit"></i>
			 <span class="ctitle">Medicines</span>
			<p>Lorem Ipsum is simply dummy text of the printing</p>
		  </a> -->

			<!-- <a class="item item-icon-right" ui-sref="#">
			 <i class="cicon ion-android-done"></i>
			<span class="ctitle">Tests</span>
			<p>Lorem Ipsum is simply dummy text of the printing</p>
		  </a> -->

		<!-- 	<a class="item item-icon-right" ui-sref="app.category-detail" >
			 <i class="cicon ion-ios-paper "></i>
			<span class="ctitle">Records</span>
		<p>Lorem Ipsum is simply dummy text of the printing</p>
		  </a> -->
		  
		  <!-- <a class="item item-icon-right" ui-sref="#">
			 <i class="cicon ion-email"></i>
			<span class="ctitle"> Packaging</span>
			<p>Lorem Ipsum is simply dummy text of the printing</p>
		  </a> -->
		  
		  

		  
		  
		  

		</div>
	  
	  

	  
	  
	  
	  
	  

	  
	  
	  
	  
	  
	  
	  
	  
 
  </ion-content>
</ion-view>